# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.DS_STORE
.idea
.vscode
build/
OVING1/make_build-debug/
OVING2/make_build-debug/
OVING3/make_build-debug/
OVING3/bin
OVING4/bin
OVING4/src/SSH/examplestore